.wrapper{
    width: 75%;
    margin: auto;
}

h1 {
    font-size: 1.875rem;
    font-weight: 700;
}

img {
    border-radius: 50%;
}

button{
    padding: 0.5rem 0;
    color: white;
    min-width: 80px;
    border-radius: 6px;
}

p {
    font-weight: 700;
    font-size: 18px;
}

input {
    outline: none;
    border: 1px solid rgb(123, 113, 113);
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 3px;
}

.error{
    color: red;
    font-weight: 600;
}